<h1>Cat Facts</h1>

<h3>Send a cat fact to your friend</h3>

<% if (@message.errors.any?) %>
  <p>Something went wrong:</p>
  <ul>
  <% @message.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @message do |f| %>
  <div class="form-group">
    <%= f.label :to %>
    <%= f.collection_check_boxes(:to, Contact.all, :id, :name, :include_hidden => false) do |contact| %>
      <%= contact.check_box %>
      <%= contact.label %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :from %>
    <%= f.select :from, @numbers %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
  <%= f.submit class: "btn btn-success" %>
<% end %>

<%= render :partial => "tweets/form" %>
