<h1>New message</h1>

<% if (@message.errors.any?) %>
  <p>Something went wrong:</p>
  <ul>
  <% @message.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @message do |f| %>
  <%= f.label :to %>
  <%= f.select(:to, @contacts) %>
  <%= f.label :from %>
  <%= f.select :from, @numbers %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>
