<h1>New contact</h1>

<% if (@contact.errors.any?) %>
  <p>Something went wrong:</p>
  <ul>
  <% @contact.errors.full_contacts.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @contact do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number%>
  <%= f.submit %>
<% end %>
